<header class="main_header">
	<nav class="main_header_nav">
		<ul class="main_header_item_list">
			<li class="main_header_item"><a href="/" class="<%- (path==='/')?'active': ''%>">Home</a></li>
			<li class="main_header_item">
				<a href="/user/add-book" class="<%- (path==='/user/add-book')?'active': ''%>">Add-Book</a>
			</li>
		</ul>
	</nav>
</header>
